{% extends 'base.html' %}

{% block content %}

<style>
article{
    text-align: center;
}
section{
    text-align: center;
    text-transform:uppercase;
    font-family: sans-serif;
    }
</style>

<section class="section_space">
    <div>
        <h1>My Campus Story</h1>
    </div>
</section>
        <hr>
    <article>
        <p >
            We at my campus story believe that every undergradate has a story worth sharing...
            <br>
            Ranging from lecturer, to the everyday hustle and bustle, and the inside jokes
            <br>
            Don't keep those stories to yourself
            <br>
            Share yours now!
        </p>
    </article>


{% endblock %}
